@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet');

.boton{
    background-color: white;
    color: black;
    padding: 5px 5px;
    
    font-size: 50px;

    text-decoration: none;
}

#botonweb h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}