.slide-container{
    width: 460px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    margin-bottom: 4%;
    overflow: hidden;
    text-align: center;
}

.image-container{
    width: 1380px;
    height: 460px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container{
    top: -20px;
    position: relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(209, 28, 28);
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}

#slider-image-2:target ~ .image-container{
    left: -460px;
}

#slider-image-3:target ~ .image-container{
    left: -920px;
}

#forosV{
    
    width: 1000px;
    height: 10px;
    padding-bottom: 5%;
    margin: auto;
    margin-bottom: 23%;
    display: block;
    margin-top: 1%;
    float: none;
}

#forosV h1{
    font-size: 30px;
}

#forosV ul{
    display: block;
    padding-bottom: 10%;
    white-space: nowrap;
}

#forosV ul li{
    margin-top: 1%;
    height: 70px;
    background-color: rgb(36, 218, 203);
    border: solid;
    display: block;
    float: none;
}

#forosV p{
    margin-top: 2%;
    color: rgb(0, 0, 0);
}

#forosV a{
    font-size: 23px;
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 5px;
}

#forosV a:hover{
    color: red;
}


#forosV p{
    margin-top: 2%;
    font-size: 30px;
}


#forosR{

    width: 1000px;
    height: 10px;
    padding-bottom: 5%;
    margin: auto;
    margin-bottom: 20%;
    display: block;
    margin-top: 1%;
    float: none;
    text-align: center;
}

#forosR h1{
    font-size: 30px;
}

#forosR ul{
    display: block;
    padding-bottom: 10%;
    white-space: nowrap;
}

#forosR ul li{
    margin-top: 1%;
    height: 70px;
    background-color: rgb(36, 218, 203);
    border: solid;
    display: block;
    float: none;
}

#forosR a{
    float: left;
    padding-left: 5px;
    font-size: 23px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#forosR a:hover{
    color: red;
}

#forosR p{
    margin-top: 2%;
    font-size: 30px;
}
