@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import "variables";

#foroSection1 {
    padding: 1%;
    padding-left: 0px;
    background-color: #91d3ff;
}

.navbar-dark {
    .navbar-custom {
        .nav-link{
            color: rgb(0, 0, 0) ;
        }
    }
}

/* ----------------------------------------- */

#foroSection2 {
    background-color: aliceblue;

    .row {
        padding-bottom: 2%;
        font-size: large;
        a{
            text-decoration: none;
            color: rgb(0, 0, 0); 

            &:hover{
                color: rgb(89, 111, 238);
            }

        }
    }

    .navbar{
        a{
            font-size: larger;
        }
    } 
}


//le da tamaño al contenedor de los foros
@media (min-width: 1200px) {
    #foros.container{
        max-width: 970px;
    }
}

// #foros.container{
//     background-color: red;
// }

.container{
    margin-top: 20px;
    padding-top: 1%;
    background-color: #5c25ff;
}



.col{
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid black ;
    border-radius: 20px;
    background-color: white;

    p{
        margin-top: 1%;
    }
}



