#formaR{
    margin-top: 5%;
    margin-left: 32%;
    margin-right: 10%;
    height: 100%;
    width: 35%;
}

#registroUsuario{
    height: 100%;
    width: 100%;
}

.registroUsuario {
    li{
        width:100%;
        text-align:center;
        margin:10px;

        label{
            width: 30%;
            display: block;
            float:left;
            text-align:left;
            margin-left: 2%;
            background-color: rgba(0, 0, 0, 0.315);
            padding: 3%;
            border-radius: 5px;
            color: white;
        }

        input{
            width: 50%;
            height: 30px;
            font-size: 22px;
            display: block;
            margin-top: 7%;
            margin-left: 300px;
        }

        textarea{
            width: 50%;
            height: 50px;
        }
    }

    button{
        width:120px;
        height: 60px;
        background-color: #008CBA;;
        font-size: 14px;
        color:aliceblue;
        border-radius: 5px;
        margin-left: 10%;

        &:hover{
            background-color: beige;
            color: black;
        }
    }
}

input:focus, textarea:focus {
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
}